* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  :root {
    --primary: #2b4bfe;
    --transparent: transparent;
    --white: #ffffff;
    --black: #000000;
    --grey: #ededed;
    --danger: #fe1257;
    --warning: #f0f87d;
    --outline-danger-light: #eca1b8;
    --outline: 2px solid #2b4bfe;
    --blur: #ababab;
    --outline-warning: 2px solid #f0f87d;
  }
  
  #budget-wrapper {
    width: 100%;
    height: auto;
    padding: 2.5rem 5rem;
  }
  
  .budget-container {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .budget-btns {
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-budget{
    background-color: var(--primary);
    color: var(--white);
  }

  .add-expense{
    color: var(--primary);
    background: var(--transparent);
    border: var(--outline);
  }
  
  .expense {
    background: var(--transparent);
    border: 2px solid var(--primary);
    color: var(--primary);
  }
  
  .add-budget-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
  }
  
  .add-budget-form {
    width: 400px;
    height: 100%;
    padding: 40px 20px;
    background: var(--white);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  .add-budget-backdrop.open {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.79));
  }
  
  .add-budget-form.open {
    transition: all 0.3s linear;
    left: 0;
  }
  
  add-budget-form h1 {
    font-size: 20px;
  }
  
  .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 340px;
  }
  
  .line {
    width: 100%;
    height: 3px;
    margin: 15px 0;
    border-radius: 5px;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .line:nth-child(2) {
    transform: translateY(-18px) rotate(-45deg);
  }
  
  input,
  select {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--black);
    transition: all 0.3s ease;
  }
  
  input:focus {
    border-bottom: 2px solid var(--primary);
  }
  
  .inputs {
    margin-top: 50px;
  }
  
  .add-budget-btn {
    margin-top: 10px;
    background: var(--primary);
    color: var(--white);
  }
  
  .budget-input {
    margin-top: 30px;
  }
  
  .budgets {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
  }
  
  .budget {
    width: 100%;
    background: var(--transparent);
    border: 2px solid var(--grey);
    outline: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  .budget-title {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .amount{ 
    margin-right: .2rem;
    font-size: 18px;
    font-weight: 700;
  }

  .buttons{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 0 10px;
    margin-top: 5.3rem;
  }

  .expense{
    background: var(--transparent);
    color: var(--primary);
    border: var(--outline);
  }

  .view-expense{
    border: 2px solid var(--outline-danger-light);
    background: var(--transparent);
    color: var(--danger);
  }

  .max{ 
    margin-left: .4rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--blur);
  }

  .budget-ratio{
    display: flex;
    align-items: center;
    width: 180px;
  }
  
  .budget h1 {
    font-size: 20px;
  }
  
  .progress-wrapper {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--grey);
    position: relative;
    overflow: hidden;
  }
  
  .progress {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--warning);
    z-index: 0;
  }
  
  .budget-account {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
  }
  
  .budget-account table {
    width: 100%;
  }
  
  .button{
    width: 40px;
    height: 40px;
    background: var(--transparent);
  }

  .table-row{
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 40px 40px;
    grid-template-rows: 50px;
    place-items: center;
  }

  @media only screen and (max-width: 400px){
    #budget-wrapper{
      width: 100%;
      padding: 7px; 
    }

    .budget-container{
      width: 100%;
    }

    .budget-container h1{
      justify-content: space-between;
      font-size: 25px;
    }

    .budget-btns{
      width: 210px;
    }

    button{
      width: 100px;
      height: 30px;
      padding: 0;
    }

    .add-budget-form{
      width: 320px;
    }

    .budget-title h1{
      font-size: 17px;
      margin-right: 2.4em;
    }

    .amount{
      font-size: 14px;
    }

    .max{
      font-size: 12px;
    }

    .budget-ratio{
      width: 100px;
    }

    .add-budget-form h1{
      font-size: 25px;
    }

    .close{
      top: 45px;
      left: 250px;
    }

    .budgets{
      grid-template-columns: 1fr;
    }

    .budget{
      padding: 20px 10px;
    }

    .budget-account{
      width: 100%;
      padding: 10px;
    }

    .add-budget-backdrop {
      width: 100vw;
      transition: all .2s linear;
    }

    .table-row{
      width: 100%;
      gap: 2px;
      padding: 2px;
      grid-template-columns: 15px 50px 75px 55px 60px 30px 30px;
      grid-template-rows: 30px;
    }

    .budget-account-table{
      width: 100%;
    }

    .table-heading{
      font-size: 10px;
      margin: 0;
    }

    .table-cols{
      font-size: 8.5px;
    }
  }